* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../images/background.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: auto 100%;
}

.grid-container {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas:
        "nav"
        "about"
        "projects"
        "footer";
}

/* Navigation */

.main-nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "head menu";
    gap: 5px;
    align-items: end;
    font-family: "Overpass", sans-serif;
    background: rgba(77, 77, 77, 0.75);
}

#brand {
    margin: 10px;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
}

.nav-options {
    justify-self: end;
    align-self: end;
    margin-right: 10px;
    vertical-align: bottom;
}

.main-nav li {
    display: inline;
    margin-right: 10px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}

.main-nav a:hover {
    color: #979797;
}

/* About Section */

.about {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .75fr auto 1fr;
    grid-template-areas: 
        "headline"
        "sub-head"
        "links";
    gap: 5px;
    background-color: rgba(50, 50, 50, 0.3);
}

.about h2 {
    grid-area: headline;
    justify-self: center;
    align-self: end;
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
}

.about p {
    grid-area: sub-head;
    justify-self: center;
    align-self: start;
    font-size: 1.5em;
    font-style: italic;
    color: #ffffff;
}

.about ul {
    justify-self: center;
    align-self: start;
    margin-top: 10px;
}

.social-links li {
    display: inline;
    margin-right: 15px;
}

.social-links li:last-child {
    margin-right: 0;
}

i {
    margin-right: 5px;
}

.social-links a {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
    z-index: 3;
    text-decoration: none;
}

/* Projects Section */

.projects {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(50, 50, 50, 0.3);
}

.project-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .75fr .25fr;
    grid-template-areas: 
        "image"
        "title";
}

.project-demo {
    grid-area: image;
    width: 100%;
    max-width: 300px;
    justify-self: center;
    align-self: start;
}


.project-block p {
    width: 100%;
    max-width: 300px;
    height: 100%;
    background-color: rgb(50, 50, 50);
    justify-self: center;
    align-self: end;
    text-align: center;
    font-size: 1.25em;
    color: #ffffff;
}

.code {
    color: rgb(50, 50, 50);
    transition: color 0.3s ease-out;
}
