@media screen and (max-width: 480px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: url("../images/background.jpg") no-repeat left top;
        background-attachment: fixed;
        background-size: cover;
        font-family: "Overpass", sans-serif;
    }

    .grid-container {
        background: rgba(255, 255, 255, 0.5);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: minmax(50px, auto) repeat(2, auto) minmax(50px, auto);
        grid-template-areas:
            "nav"
            "about"
            "projects"
            "footer";
    }

    /* Navigation Section */

    

    /* Projects Section */

    .project-block {
        width: 100vw;
        height: auto;
    }

    .project-demo {
        width: 100vw;
        height: auto;
    }
}