@media (max-width: 500px){

    * {
        box-sizing: border-box;
    }
/* Main Grid */
.main-grid-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr); 
    grid-gap: 10px;
    grid-template-areas:
        "navigation"
        "about"
        "projects"
        "contact"
        "footer";
    /* align-items: center; */
}

/* Navigation */
.main-nav {
    grid-area: navigation;
    position: sticky;
    top: 0;
    left: 0;
    background: #333333;
}

.nav-options {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 90vw;
    padding: 10px;
}

.main-nav-items a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    /* border: 1px solid red; */
}

/* About */
#about {
    border: 1px solid blue;
    grid-area: about;
    height: 100vh;
    justify-self: center;
}

#about h4 {
    /* border: 1px solid blue; */
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 50%;
}

#about h2 {
    /* border: 1px solid green; */
    font-size: 3em;
    font-weight: 500;
}

#about h3 {
    /* border: 1px solid orange; */
    font-size: 1.5em;
    font-weight: 400;
}

#about p {
    font-size: 1em;
    max-width: 400px;
}

/* Projects */

#projects {
    grid-area: projects;
    border: 1px solid orange;
}

#projects h3 {
    border: 1px solid orange;
    font-size: 1.5em;
    font-weight: 400;
}
};